.login{
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 25rem;
    height: 20rem;
    border-radius: 1rem;
    background-color: antiquewhite;
    padding: 1rem 1rem;
}
input{
    margin: 0.5rem 0;
}

@media (max-width:500px) {
    .login{
        width: 60%;
    }
    input {
        width: 100%;
    }
    button{
        width: auto;
        margin: 0 auto;
    }
}